# Python virtualenvs
.venv/
backend/.venv/
venv/
env/

# Environment variable files
.env
.env.*

# Node dependencies and build output
node_modules/
frontend/node_modules/
dist/

# Editor & OS files
.vscode/
.idea/
.DS_Store

# Python bytecode
__pycache__/
*.pyc

# Logs
*.log
